<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{{titulo}}</title>
</head>
<body>
	<section>
		<ul>
			{% for track in tracks %}
			<li>
				<a href="{{track.get_absolute_url}}">{{track.title}}</a>
				{% if track.title == selectedtrack.title %}
					---------
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</section>
	<section>
		<p>Title: {{track.title}}</p>
		<p>Order: {{track.order}}</p>
		<p>File: {{track.track_file}}</p>
		<p>Album: {{track.album}}</p>
		<p>Artist: {{track.artist}}</p>
		<p>Biography: {{track.artist.biography}}</p>
	</section>
</body>
</html>